<div class="moduloDiv">
  <%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <table>
        <tr>
              <div class="field">
                <td><%= f.label :value %></td>
                <td><%= f.number_field :value, in: 1..10 %>        </td>
              </div>
        </tr>
        <tr>
                <div class="field">
                  <td><%= f.label :animal_id_1 %></td>
                  <td><%= f.select :animal_id_1, options_from_collection_for_select(Animal.all, :id, :name) %> </td>
                </div>
        </tr>
        <tr>
                <div class="field">
                  <td><%= f.label :animal_id_2 %></td>
                  <td><%= f.select :animal_id_2, options_from_collection_for_select(Animal.all, :id, :name) %>   </td>
                </div>
        </tr>
        <tr>
            <div class="field">
                  <td><%= #f.label :name
                  %> <b>Question Name</b>
                  </td>
                  <td><%= f.text_field :name %>  </td>
                </div>
        </tr>
        <tr><div class="actions">
          <td><%= f.submit %></td>

          <td>  <!--- se funziona ?????????????????????? -->
            <%= link_to 'Show', @question %> |
            <%= link_to 'Back', questions_path %>
          </td>


        </div>
        </tr>

            <%end%>
  </table>




    </div>
