<h1>Listing questions</h1>
<div class="moduloDiv" style="width: 570px">

  <table class="tabella" >
  <thead>
    <tr>
      <th>Value</th>
      <th>Animal 1</th>
      <th>Animal 2</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.value %></td>
	<% if question.animal_1 != nil %>
        <td><%= question.animal_1.name %></td> 
	<% end %>       
	<% if question.animal_2 != nil %>	
	<td><%= question.animal_2.name %></td>
	<% end %>
		<td><%= question.name %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  <tr>
    <td>
      <%= link_to 'New Question', new_question_path %>
    </td>
  </tr>
  </tbody>
</table>

<br>




    </div>