<script type="text/javascript">
	var _second = 1000;
	var _minute = _second * 60;			
	var timer;
	var distance;
	var end = new Date();
	var totalTime = <%= GameController::TIMER %>;
	end.setSeconds(end.getSeconds() + totalTime);
	
	function showRemaining()
	{				 
	 	var now = new Date();
	 	distance = end - now;
	 	
	 	if (distance <= 0) {
		 	distance = 0; 			 			 			 					 				 
	 		clearInterval(timer);	 	
	 	}
	 		 	
	 	var timerBar = document.getElementById('timerBar');
	 	var percentage = document.getElementById('percentage');	 	
	 	
	 	if (distance <= ((totalTime*1000)/2)) {
	 		timerBar.setAttribute("class", "progress-bar progress-bar-warning");
	 	}
	 	
	 	if (distance <= ((totalTime*1000)/4)) {	 		
	 		timerBar.setAttribute("class", "progress-bar progress-bar-danger");
	 	}
	 		 
	 	var seconds = Math.floor( (distance % _minute) / _second );
	 	var milliseconds = distance % _second;	 	
	 
	  	percentage.innerHTML = seconds + 's ' ;
      	
      	timerBar.style.width = ((distance/(totalTime*1000))*100)+"%";
      	timerBar.setAttribute("aria-valuenow",((distance/(totalTime*1000))*100));
	 	
	 	if (distance == 0) {
	 		if (document.forms[0].id.value == 3)
	 			alert("Tempo scaduto!\nIl quiz è terminato.\nVerrà visualizzato il riepilogo delle tue risposte");
 			else
	 			alert("Tempo scaduto!\nVerrà visualizzata la domanda successiva.");
	 		document.forms[0].submit();  	
	 	}
	}
	
	timer = setInterval("showRemaining()", 1);
	
	function stop() {		
		clearInterval(timer);
	}
</script>

<div class="moduloDivGrande"  style="width: 800px">
	
	<%= form_tag :controller => :game, :action => @action do %>
  <table class="tabella game" >
    <tr>
      <td>
	      <%= label_tag "answer_" + @id.to_s + "_" + @question.animal_1.id.to_s, image_tag(@question.animal_1.avatar, :class => "img-thumbnail quiz") %>
	      <br/>
	      <%= label_tag "answer_" + @id.to_s + "_" + @question.animal_1.id.to_s, @question.animal_1.name %>
	      <%= radio_button_tag "answer_" + @id.to_s, @question.animal_1.id %>
      </td>
      <td>
        <%= label_tag "answer_" + @id.to_s + "_" + @question.animal_2.id.to_s, image_tag(@question.animal_2.avatar, :class => "img-thumbnail quiz") %>
        <br/>
        <%= label_tag "answer_" + @id.to_s + "_" + @question.animal_2.id.to_s, @question.animal_2.name %>
        <%= radio_button_tag "answer_" + @id.to_s, @question.animal_2.id %>
       </td>          
     </tr>
     <tr>
     	<td colspan="2">
	      <%= label_tag "answer_" + @id.to_s + "_skip", "Skip" %>
	      <%= radio_button_tag "answer_" + @id.to_s, GameController::SKIP, :default => "default" %>
	    </td>
     </tr>
     <tr>
      <td id="audio" colspan="2">
      	<%= audio_tag @results[@id].audio, :controls => true, :autoplay => true %>
        <%= hidden_field_tag "result_" + @id.to_s, @results[@id].id %>
      </td>          
      </tr>
      <tr>
      	<td colspan="2">
      		<div class="progress progress-striped active">
				  	<div id="timerBar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
				    	<span id="percentage"></span>
				  	</div>
					</div>
      	</td>      	     	
      </tr>	          
          <tr>
	          <%= hidden_field_tag "test_id", @test.id %>
	          <%= hidden_field_tag :id, (@id + 1) %>
	          <%= hidden_field_tag :time, @time %>
	
	          <% for i in 0...@id %>
	              <%= hidden_field_tag "result_" + i.to_s, @results[i] %>
	              <%= hidden_field_tag "answer_" + i.to_s, @answers[i] %>
	          <% end %>
	          
            <td colspan="2">
            	<%= submit_tag "Confirm", :class => "btn btn-primary" %>
            </td>
          </tr>
          </table>
        <% end %>
      
    </div>
