<div class="moduloDivGrande"  style="width: 800px">
	
  <table class="tabella game">
  	
  	<tr>
			<th>Punteggio: <%= @result %></th>
    </tr>
  	
    <% for i in 0...@id %>
    <tr>
	    <td>
	    	<strong>Risposta <%= i+1 %> <%= @quiz_results[i] %>!</strong> L'animale era <%= @results_animals[i].name %> <%= image_tag @results_animals[i].avatar, :class => "img-thumbnail", height: "100" %>
	    	<% if @quiz_results[i] == "errata" %>
	    		ma tu hai scelto <%= @answers_animals[i].name %> <%= image_tag(@answers_animals[i].avatar, :class => "img-thumbnail", height: "100") %>
	    	<% end %>
	    </td>
		</tr>
   	<% end %>
   	
  </table>
</div>
<div id="newGameButton">
	<%= link_to image_tag("new_game.png", :class => "img-responsive"), {controller: "game", action: "level"} %>
</div>
