<div class="moduloDivGrande"  style="width: 800px">
	
  <table class="tabella" >
  	
    <% for i in 0...@id %>
    <tr>
	    <td>
	    	Risposta <%= i+1 %> <%= @quiz_results[i] %>! L'animale era <%= @results_animals[i].name %> <%= image_tag @results_animals[i].avatar, height: "100", :class => "img-circle" %>
	    	<% if @quiz_results[i] == "errata" %>
	    		ma tu hai scelto <%= @answers_animals[i].name %> <%= image_tag @answers_animals[i].avatar, height: "100", :class => "img-circle" %>
	    	<% end %>
	    </td>
		</tr>
   	<% end %>
   	
    <tr>
			<td>Punteggio: <%= @result %>  </td>
    </tr>
  </table>
</div>
<div id="newGameButton">
	<%= link_to image_tag("new_game.png", :class => "img-responsive"), {controller: "game", action: "level"} %>
</div>
