

<p id="notice"><%= notice %></p>
<h1>Showing Animal  </h1>

<div class="moduloDivGrande">

  <table class="tabella">

<thead>
<tr>
  <th>Name</th>
  <th>Image </th>
  <th>Audio</th>
  <th></th>
</tr>
</thead>

<tbody>

<tr>

          <td><%= @animal.name %></td>


          <td><%= #image_tag @animal.avatar.url
          %>
          <%= #image_tag @animal.avatar.url(:medium)
          %>
          <%= image_tag @animal.avatar.url(:thumb)
          %>
            </td>

         <td>
          <!--embed src="<%= @animal.audio.url %>" loop="infinite" autostart="true" hidden="true"-->
          <!--a href="<%= @animal.audio.url %>">Prova</a-->
          <!--audio controls autoplay src="<%= @animal.audio.url %>"></audio-->
                <%= audio_tag(@animal.audio.url, :autoplay => true, :controls => true) %>
         </td>

          <td>
            <%= link_to 'Edit', edit_animal_path(@animal) %> |
            <%= link_to 'Back', animals_path %>

          </td>


      </tr>

      </table>

    </div>