<%= form_for(@test) do |f| %>
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @test.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>

	<div class="field">
      <%= f.label :question_id_1 %><br>
      <%= select_tag :question_id_1, options_from_collection_for_select(Question.all, :id, :name) %>
    </div>
    <div class="field">
      <%= f.label :question_id_2 %><br>
      <%= select_tag :question_id_2, options_from_collection_for_select(Question.all, :id, :name) %>
    </div>
    <div class="field">
      <%= f.label :question_id_3 %><br>
      <%= select_tag :question_id_3, options_from_collection_for_select(Question.all, :id, :name) %>
    </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
