

<p id="notice"><%= notice %></p>
<h1>Showing Test  </h1>
<div class="moduloDiv">

  <table class="tabella" >
    <thead>
    <tr>
      <th>Id</th>
      <th>Level </th>

      <th></th>

    </tr>
    </thead>

    <tbody>

    <tr>
      <td><%= @test.id %></td>
      <td><%= @test.level %></td>
      <td>
      	<% @test.questions.each do |question| %>
    			<%= question.name %>
    			<br/>
    		<% end %>
    	</td>
      <td>
        <%= link_to 'Edit', edit_test_path(@test)    %>
        <%= link_to 'Back', tests_path %>
      </td>
    </tr>
    </tbody>
  </table>

</div>
